@font-face {
	font-family: Ember;
	src: url(Ember.ttf)
}

* {
	font-family: Ember !important;
}

img {
	margin: 40px;
}

.wrapper {
	display: flex;
	justify-content: center;
}

.infoWrapper {
	text-align: center;
}

.infoWrapper a {
	margin: 0 15px;
}

form {
	width: 480px;
	border: 1.5px solid #e5e5e5;
	border-radius: 3px;
	padding: 25px;
}

label {
	font-weight: 700;
	font-size: 13px;
}

input {
	border: 2px solid #9f9f9f !important;
}

#signin {
	font-weight: 400;
	font-size: 28px;
}

a {
	text-decoration: none;
	color: #337AB6;
}

#forgot {
	font-weight: 400;
	font-size: 17px;
	float: right;
}

#continue {
	font-size: 13px;
	font-weight: 400;
	border: 2px solid #B89539;
	background-color: #F0C14B;
}

#newbie {
	color: #989898;
	font-weight: 400;
	font-size: 13px;
	white-space: pre;
	transform: translateX(-1.5px);
}

#create {
	font-size: 13px;
	font-weight: 400;
	background-color: #E7E9EC;
	border: 2px solid #CACDD3;
	width: 453px;
}

#bottom {
	border-bottom: 1px solid #C1C4CA;
	padding-bottom: 60px;
}

#copyright {
	color: #444444;
}